In [103]:
import pandas as pd
import numpy as np

In [104]:
seasons = ['2015_', '2016_', '2017_', '2018-2019_', '2019-2020_','2021_', '2022_']
season_csv = seasons[0] + "WEC_SEASON.csv"
season = pd.read_csv(season_csv, index_col =0, sep = ";")
season

C:\Users\trist\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (29,30,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,NUMBER,DRIVER_NUMBER,LAP_NUMBER,LAP_TIME,LAP_IMPROVEMENT,CROSSING_FINISH_LINE_IN_PIT,S1,S1_IMPROVEMENT,S2,S2_IMPROVEMENT,...,GROUP,TEAM,MANUFACTURER,season,circuit,round,T6,T7,PORSCHE,FORD
0,1,1,1,1:50.082,0,NaN,36.119,0,44.488,0,...,H,Toyota Racing,Toyota,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN
1,1,1,2,1:43.499,0,NaN,31.573,0,43.488,0,...,H,Toyota Racing,Toyota,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN
2,1,1,3,1:42.844,0,NaN,31.478,0,43.061,0,...,H,Toyota Racing,Toyota,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN
3,1,1,4,1:42.209,2,NaN,31.183,2,42.630,2,...,H,Toyota Racing,Toyota,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN
4,1,1,5,1:42.430,0,NaN,31.352,0,42.785,0,...,H,Toyota Racing,Toyota,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52697,99,1,167,2:02.409,0,NaN,38.585,0,44.647,0,...,NaN,Aston Martin Racing V8,Aston Martin,2015,BAHRAIN_INTERNATIONAL_CIRCUIT,8,NaN,NaN,NaN,NaN
52698,99,1,168,2:02.708,0,NaN,38.887,0,44.655,0,...,NaN,Aston Martin Racing V8,Aston Martin,2015,BAHRAIN_INTERNATIONAL_CIRCUIT,8,NaN,NaN,NaN,NaN
52699,99,1,169,2:02.172,0,NaN,38.726,0,44.829,0,...,NaN,Aston Martin Racing V8,Aston Martin,2015,BAHRAIN_INTERNATIONAL_CIRCUIT,8,NaN,NaN,NaN,NaN
52700,99,1,170,2:02.390,0,NaN,38.834,0,44.736,0,...,NaN,Aston Martin Racing V8,Aston Martin,2015,BAHRAIN_INTERNATIONAL_CIRCUIT,8,NaN,NaN,NaN,NaN
52701,99,1,171,2:03.189,0,NaN,38.824,0,45.308,0,...,NaN,Aston Martin Racing V8,Aston Martin,2015,BAHRAIN_INTERNATIONAL_CIRCUIT,8,NaN,NaN,NaN,NaN

In [105]:
#2012-2014 is in a group so let's add that
season_2012_2014 = pd.read_csv('2012-2014_WEC_SEASON_DATA.csv', index_col=0, sep = ";")
season_2012_2014

,NUMBER,DRIVER_NUMBER,LAP_NUMBER,LAP_TIME,LAP_IMPROVEMENT,CROSSING_FINISH_LINE_IN_PIT,S1,S1_IMPROVEMENT,S2,S2_IMPROVEMENT,...,circuit,round,TEAM,VEHICLE,CLASS,T6,T7,PORSCHE,FORD,MANUFACTURER
0,1.0,2.0,1.0,1:57.002,0.0,NaN,36.575,0.0,38.786,0.0,...,SEBRING,1.0,Audi Sport Team Joest,Audi R18 e-tron quattro,LMP1,NaN,NaN,NaN,NaN,Audi
1,1.0,2.0,2.0,1:49.997,0.0,NaN,32.678,0.0,38.707,0.0,...,SEBRING,1.0,Audi Sport Team Joest,Audi R18 e-tron quattro,LMP1,NaN,NaN,NaN,NaN,Audi
2,1.0,2.0,3.0,1:49.306,0.0,NaN,32.516,0.0,38.311,0.0,...,SEBRING,1.0,Audi Sport Team Joest,Audi R18 e-tron quattro,LMP1,NaN,NaN,NaN,NaN,Audi
3,1.0,2.0,4.0,1:48.975,0.0,NaN,32.115,0.0,38.539,0.0,...,SEBRING,1.0,Audi Sport Team Joest,Audi R18 e-tron quattro,LMP1,NaN,NaN,NaN,NaN,Audi
4,1.0,2.0,5.0,1:48.489,0.0,NaN,31.852,0.0,38.269,0.0,...,SEBRING,1.0,Audi Sport Team Joest,Audi R18 e-tron quattro,LMP1,NaN,NaN,NaN,NaN,Audi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132154,74.0,1.0,329.0,3:58.829,0.0,NaN,38.213,0.0,1:31.325,0.0,...,LE_MANS,3.0,Corvette Racing,Chevrolet Corvette - C7,LMGTE Pro,NaN,NaN,NaN,NaN,Chevrolet
132155,74.0,1.0,330.0,3:59.186,0.0,NaN,38.036,0.0,1:30.736,0.0,...,LE_MANS,3.0,Corvette Racing,Chevrolet Corvette - C7,LMGTE Pro,NaN,NaN,NaN,NaN,Chevrolet
132156,74.0,1.0,331.0,3:58.607,0.0,NaN,37.991,0.0,1:30.846,0.0,...,LE_MANS,3.0,Corvette Racing,Chevrolet Corvette - C7,LMGTE Pro,NaN,NaN,NaN,NaN,Chevrolet
132157,74.0,1.0,332.0,4:01.070,0.0,NaN,38.389,0.0,1:31.921,0.0,...,LE_MANS,3.0,Corvette Racing,Chevrolet Corvette - C7,LMGTE Pro,NaN,NaN,NaN,NaN,Chevrolet
132158,74.0,1.0,333.0,4:36.217,0.0,NaN,38.263,0.0,1:34.593,0.0,...,LE_MANS,3.0,Corvette Racing,Chevrolet Corvette - C7,LMGTE Pro,NaN,NaN,NaN,NaN,Chevrolet

In [106]:
season_2012_2015 = season_2012_2014.append(season)
#we can see that vehicle isn't part of 2015 (actually it's not part of 2015-2022)
season_2012_2015[season_2012_2015['season'] == 2015]

,NUMBER,DRIVER_NUMBER,LAP_NUMBER,LAP_TIME,LAP_IMPROVEMENT,CROSSING_FINISH_LINE_IN_PIT,S1,S1_IMPROVEMENT,S2,S2_IMPROVEMENT,...,round,TEAM,VEHICLE,CLASS,T6,T7,PORSCHE,FORD,MANUFACTURER,GROUP
0,1.0,1.0,1.0,1:50.082,0.0,NaN,36.119,0.0,44.488,0.0,...,1.0,Toyota Racing,NaN,LMP1,NaN,NaN,NaN,NaN,Toyota,H
1,1.0,1.0,2.0,1:43.499,0.0,NaN,31.573,0.0,43.488,0.0,...,1.0,Toyota Racing,NaN,LMP1,NaN,NaN,NaN,NaN,Toyota,H
2,1.0,1.0,3.0,1:42.844,0.0,NaN,31.478,0.0,43.061,0.0,...,1.0,Toyota Racing,NaN,LMP1,NaN,NaN,NaN,NaN,Toyota,H
3,1.0,1.0,4.0,1:42.209,2.0,NaN,31.183,2.0,42.630,2.0,...,1.0,Toyota Racing,NaN,LMP1,NaN,NaN,NaN,NaN,Toyota,H
4,1.0,1.0,5.0,1:42.430,0.0,NaN,31.352,0.0,42.785,0.0,...,1.0,Toyota Racing,NaN,LMP1,NaN,NaN,NaN,NaN,Toyota,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52697,99.0,1.0,167.0,2:02.409,0.0,NaN,38.585,0.0,44.647,0.0,...,8.0,Aston Martin Racing V8,NaN,LMGTE Pro,NaN,NaN,NaN,NaN,Aston Martin,NaN
52698,99.0,1.0,168.0,2:02.708,0.0,NaN,38.887,0.0,44.655,0.0,...,8.0,Aston Martin Racing V8,NaN,LMGTE Pro,NaN,NaN,NaN,NaN,Aston Martin,NaN
52699,99.0,1.0,169.0,2:02.172,0.0,NaN,38.726,0.0,44.829,0.0,...,8.0,Aston Martin Racing V8,NaN,LMGTE Pro,NaN,NaN,NaN,NaN,Aston Martin,NaN
52700,99.0,1.0,170.0,2:02.390,0.0,NaN,38.834,0.0,44.736,0.0,...,8.0,Aston Martin Racing V8,NaN,LMGTE Pro,NaN,NaN,NaN,NaN,Aston Martin,NaN
52701,99.0,1.0,171.0,2:03.189,0.0,NaN,38.824,0.0,45.308,0.0,...,8.0,Aston Martin Racing V8,NaN,LMGTE Pro,NaN,NaN,NaN,NaN,Aston Martin,NaN

In [107]:
#also group isn't part of 2012-2014 (but group is really only part of lmp, where there's a hybrid)
season_2012_2015[(season_2012_2015['season'] > 2012) & (season_2012_2015['season'] < 2015)]

,NUMBER,DRIVER_NUMBER,LAP_NUMBER,LAP_TIME,LAP_IMPROVEMENT,CROSSING_FINISH_LINE_IN_PIT,S1,S1_IMPROVEMENT,S2,S2_IMPROVEMENT,...,round,TEAM,VEHICLE,CLASS,T6,T7,PORSCHE,FORD,MANUFACTURER,GROUP
54432,1.0,1.0,1.0,1:50.499,0.0,NaN,35.830,0.0,45.254,0.0,...,1.0,Audi Sport Team Joest,Audi R18 e-tron quattro,LMP1,NaN,NaN,NaN,NaN,Audi,NaN
54433,1.0,1.0,2.0,1:46.106,0.0,NaN,32.768,0.0,43.964,0.0,...,1.0,Audi Sport Team Joest,Audi R18 e-tron quattro,LMP1,NaN,NaN,NaN,NaN,Audi,NaN
54434,1.0,1.0,3.0,1:45.004,0.0,NaN,32.161,0.0,43.677,0.0,...,1.0,Audi Sport Team Joest,Audi R18 e-tron quattro,LMP1,NaN,NaN,NaN,NaN,Audi,NaN
54435,1.0,1.0,4.0,1:44.270,0.0,NaN,32.174,0.0,43.114,0.0,...,1.0,Audi Sport Team Joest,Audi R18 e-tron quattro,LMP1,NaN,NaN,NaN,NaN,Audi,NaN
54436,1.0,1.0,5.0,1:44.222,0.0,NaN,31.981,0.0,43.170,0.0,...,1.0,Audi Sport Team Joest,Audi R18 e-tron quattro,LMP1,NaN,NaN,NaN,NaN,Audi,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132154,74.0,1.0,329.0,3:58.829,0.0,NaN,38.213,0.0,1:31.325,0.0,...,3.0,Corvette Racing,Chevrolet Corvette - C7,LMGTE Pro,NaN,NaN,NaN,NaN,Chevrolet,NaN
132155,74.0,1.0,330.0,3:59.186,0.0,NaN,38.036,0.0,1:30.736,0.0,...,3.0,Corvette Racing,Chevrolet Corvette - C7,LMGTE Pro,NaN,NaN,NaN,NaN,Chevrolet,NaN
132156,74.0,1.0,331.0,3:58.607,0.0,NaN,37.991,0.0,1:30.846,0.0,...,3.0,Corvette Racing,Chevrolet Corvette - C7,LMGTE Pro,NaN,NaN,NaN,NaN,Chevrolet,NaN
132157,74.0,1.0,332.0,4:01.070,0.0,NaN,38.389,0.0,1:31.921,0.0,...,3.0,Corvette Racing,Chevrolet Corvette - C7,LMGTE Pro,NaN,NaN,NaN,NaN,Chevrolet,NaN
132158,74.0,1.0,333.0,4:36.217,0.0,NaN,38.263,0.0,1:34.593,0.0,...,3.0,Corvette Racing,Chevrolet Corvette - C7,LMGTE Pro,NaN,NaN,NaN,NaN,Chevrolet,NaN

In [108]:
#let's group 2012-2014 by vehicle to get rid of group
wanted_columns = ['VEHICLE', 'CLASS']
vehicle_2012_2014 = season_2012_2014.groupby(wanted_columns).mean().reset_index([0,1])
vehicle_2012_2014 = vehicle_2012_2014[wanted_columns]
vehicle_2012_2014['GROUP'] = np.nan
#vehicle_2012_2014.to_csv('2012_2014_vehicle_to_class.csv', sep = ";")

In [109]:
#I manually mapped the groups
group_2012_2014 = pd.read_csv('2012_2014_vehicle_to_class.csv', sep=";", index_col = 0)
#we have to take out class here though because it'll double some of the laps
wanted_columns = ['VEHICLE', 'GROUP']
group_2012_2014 = group_2012_2014[wanted_columns].drop_duplicates()
group_2012_2014

                        VEHICLE GROUP
0         Alpine A450b - Nissan   NaN
1       Aston Martin Vantage V8   NaN
3                Audi R18 Ultra     H
4       Audi R18 e-tron quattro     H
6       Chevrolet Corvette - C7   NaN
7     Chevrolet Corvette C6 ZR1   NaN
9             Delta Wing Nissan   NaN
10                  Dome - Judd   NaN
11           Ferrari 458 Italia   NaN
13         HPD ARX  03a - Honda   NaN
14          HPD ARX 03b - Honda   NaN
15              Ligier - Nissan   NaN
16           Ligier JS P2 - HPD   NaN
17        Ligier JS P2 - Nissan   NaN
18  Lola  B12/80 Coupe - Nissan   NaN
19                  Lola - Judd   NaN
20   Lola B12/60 Coupe - Toyota   NaN
21    Lola B12/80 Coupe - Lotus   NaN
22    Lola B12/80 Coupé - Lotus   NaN
23                Morgan - Judd   NaN
24              Morgan - Nissan   NaN
25               Nissan ZEOD RC   NaN
26         Norma MP 2000 - Judd   NaN
27         Oak Pescarolo - Judd   NaN
28              Oreca 03 - Judd   NaN
29            Oreca 03 - Nissan   NaN
30             Oreca 03R - Judd   NaN
31           Oreca 03R - Nissan   NaN
32          Pescarolo 03 - Judd   NaN
33          Porsche 911 GT3 RSR   NaN
35              Porsche 911 RSR   NaN
37        Porsche 911 RSR (997)   NaN
39           Porsche 919 Hybrid     H
40     Rebellion R-One - Toyota     L
42       Toyota TS 030 - Hybrid     H
43       Toyota TS 040 - Hybrid     H
45         Zytek Z11SN - Nissan   NaN

In [118]:
#so we now have 2012-2014 with group
season_2012_2014_with_group = pd.merge(left = season_2012_2014, right = group_2012_2014, on = "VEHICLE", how = "outer")
season_2012_2014_with_group_nas = season_2012_2014_with_group[season_2012_2014_with_group['circuit'].isna()]
season_2012_2014_with_group_not_nas = season_2012_2014_with_group[season_2012_2014_with_group['circuit'].notna()]
season_2012_2014_with_group_nas['season'] = 2013
season_2012_2014_with_group_nas['circuit'] = 'FUJI_SPEEDWAY'
season_2012_2014_with_group = season_2012_2014_with_group_not_nas.append(season_2012_2014_with_group_nas)

<ipython-input-118-389ea1f88cd6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_2012_2014_with_group_nas['season'] = 2013
<ipython-input-118-389ea1f88cd6>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_2012_2014_with_group_nas['circuit'] = 'FUJI_SPEEDWAY'

In [172]:
#fuji 2013 doesn't have data, so we're recombining them
season_2012_2014_with_group = season_2012_2014_with_group.reset_index(drop=True)
season_2012_2014_with_group['season'] = season_2012_2014_with_group['season'].map(int).map(str)

In [173]:
#checking if we got any new rows from that, we didn't
len(season_2012_2014_with_group.index) - len(season_2012_2014_with_group.index)

0

In [232]:
#for 2015-2022 we have to map to classification to grab vehicle
#seasons = ['2015_', '2016_', '2017_', '2018-2019_', '2019-2020_','2021_', '2022_']
season_path = seasons[0] + "WEC_SEASON.csv"
season = pd.read_csv(season_path, index_col = 0, sep = ";")
wanted_columns = ["NUMBER", 'VEHICLE']
season_classification_path = "data/classifications/" + seasons[0] + "CLASSIFICATION.csv"
season_classification = pd.read_csv(season_classification_path, index_col=0)
season_classification = season_classification[wanted_columns]
season_with_classification = pd.merge(left = season, right = season_classification, on = "NUMBER", how = "outer")
season_with_classification

C:\Users\trist\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (29,30,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,NUMBER,DRIVER_NUMBER,LAP_NUMBER,LAP_TIME,LAP_IMPROVEMENT,CROSSING_FINISH_LINE_IN_PIT,S1,S1_IMPROVEMENT,S2,S2_IMPROVEMENT,...,TEAM,MANUFACTURER,season,circuit,round,T6,T7,PORSCHE,FORD,VEHICLE
0,1,1,1,1:50.082,0,NaN,36.119,0,44.488,0,...,Toyota Racing,Toyota,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid
1,1,1,2,1:43.499,0,NaN,31.573,0,43.488,0,...,Toyota Racing,Toyota,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid
2,1,1,3,1:42.844,0,NaN,31.478,0,43.061,0,...,Toyota Racing,Toyota,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid
3,1,1,4,1:42.209,2,NaN,31.183,2,42.630,2,...,Toyota Racing,Toyota,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid
4,1,1,5,1:42.430,0,NaN,31.352,0,42.785,0,...,Toyota Racing,Toyota,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52697,44,1,175,1:55.672,0,NaN,37.111,0,42.328,0,...,AF Racing,BR01,2015,BAHRAIN_INTERNATIONAL_CIRCUIT,8,NaN,NaN,NaN,NaN,BR01 - Nissan
52698,44,1,176,1:56.587,0,NaN,37.846,0,42.444,0,...,AF Racing,BR01,2015,BAHRAIN_INTERNATIONAL_CIRCUIT,8,NaN,NaN,NaN,NaN,BR01 - Nissan
52699,44,1,177,1:55.952,0,NaN,37.033,0,42.350,0,...,AF Racing,BR01,2015,BAHRAIN_INTERNATIONAL_CIRCUIT,8,NaN,NaN,NaN,NaN,BR01 - Nissan
52700,44,1,178,1:56.899,0,NaN,37.515,0,42.828,0,...,AF Racing,BR01,2015,BAHRAIN_INTERNATIONAL_CIRCUIT,8,NaN,NaN,NaN,NaN,BR01 - Nissan
52701,44,1,179,1:56.859,0,NaN,37.410,0,42.804,0,...,AF Racing,BR01,2015,BAHRAIN_INTERNATIONAL_CIRCUIT,8,NaN,NaN,NaN,NaN,BR01 - Nissan

In [233]:
wanted_columns = ["NUMBER", 'VEHICLE']
for i in range(1, len(seasons)):
    season_classification_path = "data/classifications/" + seasons[i] + "CLASSIFICATION.csv"
    season_classification = pd.read_csv(season_classification_path, index_col=0)
    season_classification = season_classification[wanted_columns]
    season_path = seasons[i] + "WEC_SEASON.csv"
    new_season = pd.read_csv(season_path, sep = ";", index_col=0)
    new_season_with_classification = pd.merge(left = new_season, right = season_classification, on = "NUMBER", how = "outer")
    if i !=3 and i !=4:
        new_season_with_classification = new_season_with_classification[new_season_with_classification['season'].notna()]
        new_season_with_classification['season'] = new_season_with_classification['season'].map(int).map(str)
    season_with_classification = season_with_classification.append(new_season_with_classification)
season_with_classification.reset_index(drop=True)

C:\Users\trist\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,NUMBER,DRIVER_NUMBER,LAP_NUMBER,LAP_TIME,LAP_IMPROVEMENT,CROSSING_FINISH_LINE_IN_PIT,S1,S1_IMPROVEMENT,S2,S2_IMPROVEMENT,...,MANUFACTURER,season,circuit,round,T6,T7,PORSCHE,FORD,VEHICLE,FLAG_AT_FL
0,1.0,1.0,1.0,1:50.082,0.0,NaN,36.119,0.0,44.488,0.0,...,Toyota,2015,SILVERSTONE,1.0,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN
1,1.0,1.0,2.0,1:43.499,0.0,NaN,31.573,0.0,43.488,0.0,...,Toyota,2015,SILVERSTONE,1.0,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN
2,1.0,1.0,3.0,1:42.844,0.0,NaN,31.478,0.0,43.061,0.0,...,Toyota,2015,SILVERSTONE,1.0,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN
3,1.0,1.0,4.0,1:42.209,2.0,NaN,31.183,2.0,42.630,2.0,...,Toyota,2015,SILVERSTONE,1.0,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN
4,1.0,1.0,5.0,1:42.430,0.0,NaN,31.352,0.0,42.785,0.0,...,Toyota,2015,SILVERSTONE,1.0,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347644,98.0,2.0,176.0,2:00.136,0.0,NaN,35.565,0.0,41.630,0.0,...,Aston Martin,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,GF
347645,98.0,2.0,177.0,2:00.514,0.0,NaN,35.849,0.0,41.913,0.0,...,Aston Martin,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,GF
347646,98.0,2.0,178.0,2:00.760,0.0,NaN,35.627,0.0,41.511,0.0,...,Aston Martin,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,GF
347647,98.0,2.0,179.0,2:08.667,0.0,NaN,35.600,0.0,42.613,0.0,...,Aston Martin,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,SF
347648,98.0,2.0,180.0,24:46.859,0.0,NaN,51.685,0.0,1:22.717,0.0,...,Aston Martin,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,SF

In [234]:
season_with_classification[season_with_classification['season'] == "2022"]

,NUMBER,DRIVER_NUMBER,LAP_NUMBER,LAP_TIME,LAP_IMPROVEMENT,CROSSING_FINISH_LINE_IN_PIT,S1,S1_IMPROVEMENT,S2,S2_IMPROVEMENT,...,MANUFACTURER,season,circuit,round,T6,T7,PORSCHE,FORD,VEHICLE,FLAG_AT_FL
0,1.0,3.0,1.0,2:03.750,0.0,NaN,41.661,0.0,41.326,0.0,...,Oreca,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Oreca 07 - Gibson,GF
1,1.0,3.0,2.0,1:53.835,0.0,NaN,33.887,0.0,39.585,0.0,...,Oreca,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Oreca 07 - Gibson,GF
2,1.0,3.0,3.0,1:53.408,0.0,NaN,34.080,0.0,39.336,0.0,...,Oreca,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Oreca 07 - Gibson,GF
3,1.0,3.0,4.0,1:52.926,0.0,NaN,33.461,0.0,39.513,0.0,...,Oreca,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Oreca 07 - Gibson,GF
4,1.0,3.0,5.0,1:52.332,2.0,NaN,33.384,0.0,39.181,2.0,...,Oreca,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Oreca 07 - Gibson,GF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6402,98.0,2.0,176.0,2:00.136,0.0,NaN,35.565,0.0,41.630,0.0,...,Aston Martin,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,GF
6403,98.0,2.0,177.0,2:00.514,0.0,NaN,35.849,0.0,41.913,0.0,...,Aston Martin,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,GF
6404,98.0,2.0,178.0,2:00.760,0.0,NaN,35.627,0.0,41.511,0.0,...,Aston Martin,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,GF
6405,98.0,2.0,179.0,2:08.667,0.0,NaN,35.600,0.0,42.613,0.0,...,Aston Martin,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,SF
6406,98.0,2.0,180.0,24:46.859,0.0,NaN,51.685,0.0,1:22.717,0.0,...,Aston Martin,2022,SEBRING,1.0,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,SF

In [235]:
full_wec_seasons = season_with_classification.append(season_2012_2014_with_group).reset_index(drop=True)
full_wec_seasons = full_wec_seasons[full_wec_seasons['season'].notna()]
full_wec_seasons

,NUMBER,DRIVER_NUMBER,LAP_NUMBER,LAP_TIME,LAP_IMPROVEMENT,CROSSING_FINISH_LINE_IN_PIT,S1,S1_IMPROVEMENT,S2,S2_IMPROVEMENT,...,MANUFACTURER,season,circuit,round,T6,T7,PORSCHE,FORD,VEHICLE,FLAG_AT_FL
0,1.0,1.0,1.0,1:50.082,0.0,NaN,36.119,0.0,44.488,0.0,...,Toyota,2015,SILVERSTONE,1.0,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN
1,1.0,1.0,2.0,1:43.499,0.0,NaN,31.573,0.0,43.488,0.0,...,Toyota,2015,SILVERSTONE,1.0,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN
2,1.0,1.0,3.0,1:42.844,0.0,NaN,31.478,0.0,43.061,0.0,...,Toyota,2015,SILVERSTONE,1.0,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN
3,1.0,1.0,4.0,1:42.209,2.0,NaN,31.183,2.0,42.630,2.0,...,Toyota,2015,SILVERSTONE,1.0,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN
4,1.0,1.0,5.0,1:42.430,0.0,NaN,31.352,0.0,42.785,0.0,...,Toyota,2015,SILVERSTONE,1.0,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479803,92.0,0.0,12.0,2:44.596,0.0,NaN,36.630,0.0,51.656,0.0,...,Porsche,2013,FUJI_SPEEDWAY,6.0,NaN,NaN,NaN,NaN,Porsche 911 RSR,NaN
479804,92.0,0.0,13.0,2:52.704,0.0,NaN,40.765,0.0,51.262,0.0,...,Porsche,2013,FUJI_SPEEDWAY,6.0,NaN,NaN,NaN,NaN,Porsche 911 RSR,NaN
479805,92.0,0.0,14.0,2:49.175,0.0,NaN,40.588,0.0,50.240,0.0,...,Porsche,2013,FUJI_SPEEDWAY,6.0,NaN,NaN,NaN,NaN,Porsche 911 RSR,NaN
479806,92.0,0.0,15.0,2:47.538,0.0,NaN,38.341,0.0,49.366,0.0,...,Porsche,2013,FUJI_SPEEDWAY,6.0,NaN,NaN,NaN,NaN,Porsche 911 RSR,NaN
479807,92.0,0.0,16.0,3:37.086,0.0,NaN,37.670,0.0,54.911,0.0,...,Porsche,2013,FUJI_SPEEDWAY,6.0,NaN,NaN,NaN,NaN,Porsche 911 RSR,NaN

In [236]:
full_wec_seasons[full_wec_seasons['season'] == 2021]

Empty DataFrame
Columns: [NUMBER, DRIVER_NUMBER, LAP_NUMBER, LAP_TIME, LAP_IMPROVEMENT, CROSSING_FINISH_LINE_IN_PIT, S1, S1_IMPROVEMENT, S2, S2_IMPROVEMENT, S3, S3_IMPROVEMENT, KPH, ELAPSED, HOUR, S1_LARGE, S2_LARGE, S3_LARGE, TOP_SPEED, DRIVER_NAME, PIT_TIME, CLASS, GROUP, TEAM, MANUFACTURER, season, circuit, round, T6, T7, PORSCHE, FORD, VEHICLE, FLAG_AT_FL]
Index: []

[0 rows x 34 columns]

In [238]:
#full_wec_seasons['season'] = full_wec_seasons['season'].map(int)
#mapping these out
full_wec_seasons['round'] = full_wec_seasons['round'].map(int)
full_wec_seasons['NUMBER'] = full_wec_seasons['NUMBER'].map(int)
full_wec_seasons['LAP_NUMBER'] = full_wec_seasons['LAP_NUMBER'].map(int)
full_wec_seasons['DRIVER_NUMBER'] = full_wec_seasons['DRIVER_NUMBER'].map(int)
full_wec_seasons['team_no'] = full_wec_seasons['TEAM'] + " #" + full_wec_seasons['NUMBER'].map(int).map(str)
full_wec_seasons = full_wec_seasons.sort_values(['season', 'round'])
full_wec_seasons = full_wec_seasons.reset_index(drop=True)
full_wec_seasons

,NUMBER,DRIVER_NUMBER,LAP_NUMBER,LAP_TIME,LAP_IMPROVEMENT,CROSSING_FINISH_LINE_IN_PIT,S1,S1_IMPROVEMENT,S2,S2_IMPROVEMENT,...,season,circuit,round,T6,T7,PORSCHE,FORD,VEHICLE,FLAG_AT_FL,team_no
0,1,1,1,1:50.082,0.0,NaN,36.119,0.0,44.488,0.0,...,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN,Toyota Racing #1
1,1,1,2,1:43.499,0.0,NaN,31.573,0.0,43.488,0.0,...,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN,Toyota Racing #1
2,1,1,3,1:42.844,0.0,NaN,31.478,0.0,43.061,0.0,...,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN,Toyota Racing #1
3,1,1,4,1:42.209,2.0,NaN,31.183,2.0,42.630,2.0,...,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN,Toyota Racing #1
4,1,1,5,1:42.430,0.0,NaN,31.352,0.0,42.785,0.0,...,2015,SILVERSTONE,1,NaN,NaN,NaN,NaN,Toyota TS 040 - Hybrid,NaN,Toyota Racing #1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479788,98,2,176,2:00.136,0.0,NaN,35.565,0.0,41.630,0.0,...,2022,SEBRING,1,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,GF,Northwest AMR #98
479789,98,2,177,2:00.514,0.0,NaN,35.849,0.0,41.913,0.0,...,2022,SEBRING,1,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,GF,Northwest AMR #98
479790,98,2,178,2:00.760,0.0,NaN,35.627,0.0,41.511,0.0,...,2022,SEBRING,1,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,GF,Northwest AMR #98
479791,98,2,179,2:08.667,0.0,NaN,35.600,0.0,42.613,0.0,...,2022,SEBRING,1,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,SF,Northwest AMR #98
479792,98,2,180,24:46.859,0.0,NaN,51.685,0.0,1:22.717,0.0,...,2022,SEBRING,1,NaN,NaN,NaN,NaN,Aston Martin Vantage AMR,SF,Northwest AMR #98

In [239]:
full_wec_seasons.columns = full_wec_seasons.columns.str.lower()
full_wec_seasons.columns

Index(['number', 'driver_number', 'lap_number', 'lap_time', 'lap_improvement',
       'crossing_finish_line_in_pit', 's1', 's1_improvement', 's2',
       's2_improvement', 's3', 's3_improvement', 'kph', 'elapsed', 'hour',
       's1_large', 's2_large', 's3_large', 'top_speed', 'driver_name',
       'pit_time', 'class', 'group', 'team', 'manufacturer', 'season',
       'circuit', 'round', 't6', 't7', 'porsche', 'ford', 'vehicle',
       'flag_at_fl', 'team_no'],
      dtype='object')

In [240]:
def convert_to_ms(x):
    hour = 0
    try:
        hour, minutes, second = x.split(":")
    except ValueError:
        minutes, second = x.split(":")
    hour_seconds = int(hour)*60*60
    seconds, ms = second.split(".")
    minute_seconds = (int(minutes)*60 + int(seconds) + int(hour_seconds))*1000 
    total_ms = minute_seconds + int(ms)
    return total_ms

full_wec_seasons['lap_time_ms'] = full_wec_seasons['lap_time'].apply(convert_to_ms)
full_wec_seasons['lap_time_s'] = full_wec_seasons['lap_time_ms']/1000

In [241]:
full_wec_seasons.to_csv("2012-2022_FIA_WEC_FULL_LAP_DATA.csv")